body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #111111;
    color: white;
    text-align: center;
}

#content {
    width: 960px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}